[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:vingenuity/vingenuity.github.io.git
	branch = master
[submodule "themes/hugo-materialized"]
	path = themes/hugo-materialized
	url = https://github.com/jchatkinson/hugo-materialized.git
