{{ define "main" }}

{{ $show_toc := default true .Params.show_toc }}

<div class="row">
	<div class="col s12{{ if $show_toc }} m9 l10{{end}}">
		<div class="card">
			<div class="card-content blue darken-2">
				<div class="row">
					<div class="col s2 grey lighten-4 z-depth-1">
						<h3 class="center-align black-text" >{{ .Date.Format "02"   }}</h3>
						<h5 class="center-align grey-text text-darken-2" >{{ .Date.Format "Jan"  }}</h5>
						<p class="center-align grey-text text-darken-1" >{{ .Date.Format "2006" }}</p>
					</div>
					<div class="col s9">
						<h3 class="grey-text text-lighten-4">{{ title .Title }}</h3>
							{{ if .Params.subtitle }}
								<h4 class="italic grey-text text-lighten-2">{{ .Params.subtitle }}</h4>
							{{ end }}
					</div>
				</div>
			</div>

			<div class="card-content post">
				{{ .Content }}
			</div>

			<div class="divider"></div>

			<div class="card-content">
				{{ partial "socialshare.html" . }}
			</div>
		</div>

		<div class="row">
			<div class="col s3 left-align">
				<a class="waves-effect waves-light btn {{if not .PrevInSection}}disabled{{end}}" href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}"><i class="fa fa-angle-left"></i> Last Post</a>
			</div>

			<div class="col s4 center-align offset-s1">
				<a class="waves-effect waves-light btn" href="/post/#{{ .File.BaseFileName }}">All Posts</a>
			</div>

			<div class="col s3 right-align offset-s1">
				<a class="waves-effect waves-light btn {{if not .NextInSection}}disabled{{end}}" href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">Next Post <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>

	{{ if $show_toc }}
		<div class="col hide-on-small-only m3 l2">
			<div class="pinned">
				{{ $toc_parameters := (dict "page" . "wrapper_class" "table-of-contents") }}
				{{ partial "toc-headers.html" $toc_parameters }}
			</div>
		</div>
	{{ end }}
</div>

{{ end }}
