{{ define "main" }}


<div class="card">
	<div class="card-image blue darken-2">
		<img src="{{ .Params.logo }}">
		{{ if ( eq .Params.showTitleInSinglePage true ) }}
			<span class="card-title">{{ .Title }}</span>
		{{ end }}
	</div>
	
   <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
         <li class="tab col s3"><a href="#details">Details</a></li>
         <li class="tab col s3"><a href="#multimedia">Multimedia</a></li>
         <li class="tab col s3"><a href="#roles">Roles</a></li>
         <li class="tab col s3"><a href="#work-samples">Samples</a></li>
         <li class="tab col s3"><a href="#downloads">Downloads</a></li>
      </ul>
   </div>
	
   <div class="card-content grey lighten-4">
      <div id="details">
         <h4>Overview</h4>
         <p>{{ .Content }}</p>
			
         <h4>Statistics</h4>
			<ul class="browser-default">
		      <li><span class="stat-header">Project:</span>
				<ul class="browser-default">
					{{ if isset .Params.project "type" }}
					<li><span class="stat-header">Type: </span>{{ .Params.project.type }}
					{{ end }}
					
					{{ if isset .Params.project "development_dates" }}
						{{ $start_date_as_time := ( time .Params.project.development_dates.start ) }}
						{{ $end_date_as_time := ( time .Params.project.development_dates.end ) }}
						{{ $formatted_date_start := ( $start_date_as_time.Format "Jan 2006" ) }}
						{{ $formatted_date_end := ( $end_date_as_time.Format "Jan 2006" ) }}
						{{ $date_span_years := ( sub $end_date_as_time.Year $start_date_as_time.Year ) }}
						{{ $date_span_months := ( add (mul $date_span_years 12 ) ( sub $end_date_as_time.Month $start_date_as_time.Month ) ) }}
					<li><span class="stat-header">Developed: </span>{{ $formatted_date_start }} - {{ $formatted_date_end }} ({{ $date_span_months }} Months)
					{{ end }}
					
					{{ if isset .Params.project "engine" }}
					<li><span class="stat-header">Engine: </span>{{ .Params.project.engine }}
					{{ end }}
					
					{{ if isset .Params.project "platforms" }}
					<li><span class="stat-header">Platforms:</span>
					<ul class="browser-default">
                  {{ range .Params.project.platforms }}
						<li>{{ . }}
						{{ end }}
			      </ul>
					{{ end }}
				</ul>
				
		      <li><span class="stat-header">Team:</span>
				<ul class="browser-default">
					{{ if isset .Params.team "name" }}
					<li><span class="stat-header">Name: </span>{{ .Params.team.name }}
					{{ end }}
					
					{{ if isset .Params.team "developer_counts" }}
					
						{{ $.Scratch.Set "total_developer_count" 0 }}
						{{ range .Params.team.developer_counts }}
							{{ $.Scratch.Add "total_developer_count" . }}
						{{ end }}
					<li><span class="stat-header">Developers: </span>{{ $.Scratch.Get "total_developer_count" }}

					{{ with $.Site.Params.developer_titles }}
						{{ $developer_titles := . }}
						<ul class="browser-default">
						{{ range $developer_key, $developer_count := $.Params.team.developer_counts }}
							{{ if gt $developer_count 0 }}
									{{ $developer_title := index $developer_titles $developer_key }}
									{{ $developer_title := cond ( gt $developer_count 1 ) ( pluralize $developer_title ) $developer_title }}
									<li>{{ $developer_count }} {{ $developer_title }}
								{{ end }}
							{{ end }}
						{{ end }}
						</ul>
					{{ end }}
				</ul>
			</ul>
      </div>
		
      <div id="multimedia">
			{{ with .Params.multimedia }}
			{{ range . }}
				{{ if eq .type "video" }}
					<div class="video-container">
						<iframe src="{{ .src }}" width="{{ .width }}" height="{{ .height }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				{{ else if eq .type "image" }}
					{{ if or ( isset . "width" ) ( isset . "height" ) }}
						<img class="materialboxed" src="{{ .src }}" width="{{ .width }}" height="{{ .height }}">
					{{ else }}
						<img class="responsive-img materialboxed" src="{{ .src }}">
					{{ end }}
				{{ end }}
			{{ end }}
			{{ else }}
				<p>No media is currently available for this project.</p>
			{{ end }}
		</div>
		
      <div id="roles">
			{{ range .Params.roles }}
			   <h4>{{ .title }}</h4>
				<ul class="browser-default">
				{{ range .responsibilities }}
					<li> {{ . }}
				{{ end }}
				</ul>
			{{ end }}
		</div>

		<div id="work-samples">
			{{ $work_samples := where .Site.RegularPages "Type" "work-sample" }}
			{{ $work_samples_for_project := where $work_samples ".Params.project_base_name" .File.TranslationBaseName }}
			{{ with $work_samples_for_project }}
				<ul class="collapsible">
				{{ range . }}
					<li>
						<div class="collapsible-header" id="work-sample-header">
							<i class="fa fa-chevron-down collapsible-indicator"></i>
							{{ .Params.title }}
							<span class="right">
								<!-- TODO: Language icons go here. -->
								<!-- <i class="fa fa-*"></i> -->
							</span>
						</div>
						<div class="collapsible-body">
							{{ .Content }}
						</div>
					</li>
				{{ end }}
				</ul>
			{{ else }}
				<p>No work samples are currently available for this project.</p>
			{{ end }}
		</div>

      <div id="downloads">
		{{ with .Params.downloads }}
			{{ $executable_downloads := where . "type" "executable" }}
			{{ if gt (len $executable_downloads) 0 }}
				<h4>Executables:</h4>
				<ul class="browser-default">
			   {{ range $executable_downloads }}
					<li> <a href="{{ .src }}">{{ .text }}</a>
			   {{ end }}
				</ul>
			{{ end }}
			
			{{ $source_downloads := where . "type" "source" }}
			<h4>Source:</h4>
			{{ if gt (len $source_downloads) 0 }}
				<ul class="browser-default">
			   {{ range $source_downloads }}
					<li> <a href="{{ .src }}">{{ .text }}</a>
			   {{ end }}
				</ul>
			{{ else }}
				<p>The source for this project is currently unavailable.</p>
			{{ end }}
		{{ else }}
			<p>No downloads are currently available for this project.</p>
		{{ end }}
		</div>
   </div>
</div>

{{ end }}