
  <div class="card hoverable">
    <div class="card-image  blue darken-2">
      <img src="{{ .Params.logo }}">
		{{ if ( eq .Params.showTitleInSectionPage true ) }}
			<span class="card-title">{{ .Title }}</span>
		{{ end }}
    </div>
	 
	 {{ if .Params.showSummaryInSectionPage }}
    <div class="card-content  blue darken-2">
      <blockquote>{{ .Summary }}</blockquote>
    </div>
	 {{ end }}
	 
    <div class="card-action">
        <a href="{{ .Permalink }}">Details</a>
		  
			{{ with .Params.siteAddress }}
				<a href="{{ . }}">Website</a>
			{{ end }}
		  
			{{ with .Params.downloads }}
				{{ $source_downloads := where . "type" "source" }}
				{{ if gt (len $source_downloads) 0 }}
					{{ $firstSourceDownload := index $source_downloads 0 }}
					<a href="{{ $firstSourceDownload.src }}">{{ $firstSourceDownload.text }}</a>
				{{ end }}
			{{ end }}
    </div>
  </div>