{{ define "main" }}

{{ if .Params.show_header }}
	<div class="row blue darken-2 z-depth 2" id="resume-header">
		<div class="col s12 center-align">
			<h3>{{ .Params.title }}</h3>
		</div>

		<div class="col s12 center-align">
			<h6>{{ .Params.subtitle }}</h6>
		</div>

		<div>
			{{ .Content }}
		</div>
	</div>
{{ end }}

<ul class="tabs tabs-fixed-width z-depth-1" id="resume-tabs">
	{{ range $.Params.resumes }}
		<li class="tab"><a href="#{{ .id }}">{{ .title }}</a></li>
	{{ end }}
</ul>


<div class="section" id="resume-content-frame">
	{{ range $.Params.resumes }}
		<div id="{{ .id }}">
			<article class="video-container" style="height: 900px;">
				{{ $fullViewerPath := (printf "document-viewers/%s" .viewer) }}
				{{ $contextDictionary := (dict "document" . "page" $ ) }}
				{{ partial $fullViewerPath $contextDictionary }}
			</article>
			<div class="row">
				<a class="col s12 btn-large waves-effect waves-light blue lighten-2" href="{{ .path }}" download><i class="fa fa-download"></i> Download</a>
			</div>
		</div>
	{{ end }}
</div>

{{ end }}
