{{ define "main" }}

<h3>{{ .Page.Title }}</h3>
<div class="divider"></div>

{{ range .Data.Pages }} <!-- Will only loop posts, due to the name of this file -->
   <div class="card horizontal">
      <div class="card-stacked">
         <div class="row blue darken-2">
            <div class="col s2 grey lighten-4">
               <h5 class="center-align black-text" >{{ .Date.Format "02"   }}</h5>
               <h6 class="center-align grey-text text-darken-2" >{{ .Date.Format "Jan"  }}</h6>
               <p class="center-align grey-text text-darken-1" >{{ .Date.Format "2006" }}</p>
            </div>
            <div class="col s9">
               <h4 class="grey-text text-lighten-4">{{ title .Title }}</h4>
               {{ if .Params.subtitle }}
                  <h5 class="italic grey-text text-lighten-2">{{ .Params.subtitle }}</h5>
               {{ end }}
            </div>
         </div>
         <div class="card-action">
            <a href="{{ .Permalink }}">Read Post</a>
         </div>
      </div>
   </div>
{{ end }}

{{ end }}
